<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Compra finalizada</title>
  <style type="text/css">
  A:link, A:visited{text-decoration:none}
  A{color:white}
  body {
    color: white;
    background-image:url("fondo_general.jpg");
    background-size: cover;
    }
  </style>
</head>
<body>
	<h1>PeSeMu</h1>
	<p>Compra finalizada</p>
	<br>
	<a href="/leerFactura/{{idFactura}}" >Ver factura</a>
	<br>
	<a href={{urlFactura}} target="_blank">Ver factura txt</a>
	<br>
	<a href="/"><img src="volver.gif" width="100" height="50" border="0"/></a>
	
</body>
</html> 

	