<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>PeSeMu</title>
  <style type="text/css">
  A:link, A:visited{text-decoration:none}
  A{color:white}
  body {
    color: white;
    background-image:url("fondo_general.jpg");
    /* background-color:black; */
    background-size: cover;
    } 
  </style>
</head>
<body>
	<h1>PeSeMu</h1>
	<a href="tipos_producto.html">Ver productos</a>
	<br><br>
	{{#login}}
	<a href="login">Iniciar sesion</a>
	<br><br>
	<a href="registroUsuario">Registrar como usuario</a>
	<br><br><br>
	{{/login}}
	{{^login}}
    <a href="carrito"><img src="ver_carrito.jpg"/></a> 
    <form action="/logout" method="post">
		<input type="submit" value="Cerrar sesión" />
		<input type="hidden" name="_csrf" value="{{token}}"/>
	</form>
    {{/login}}
	<br><br>
	
</body>
</html>