<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ver producto</title>
  <style type="text/css">
  A:link, A:visited{text-decoration:none}
  A{color:white}
  body {
    color: white;
    background-color:black;
    background-size: cover;
    } 
  </style>
</head>
<body>
	<h1>PeSeMu</h1>
	<h3>Producto</h3>
	<p>Nombre: {{producto.nombre}}</p>
	<p>Descripción: {{producto.descripcion}}</p>
	<p>Precio: {{producto.precio}}</p>
	<br>
	<a href="{{producto.id}}/aniadirACarrito">Añadir a carrito</a>
	<p>Opiniones:</p>
	<ul>
		{{#producto.opiniones}}
		<li>{{.}}</li>
		{{/producto.opiniones}}
	</ul>
	<a href="{{producto.id}}/opinion">Dar una nueva opinión</a>
	<br>
	<a href="/catalogo/{{producto.tipo}}/{{producto.genero}}">Volver a
		la lista de productos</a>
</body>
</html>
