<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registro de usuario</title>
  <style type="text/css">
  A:link, A:visited{text-decoration:none}
  A{color:white}
  body {
    color: white;
/*     background-image:url("fondo_general.jpg"); */
    background-color:black;
    background-size: cover;}
  </style>
</head>
<body>
	<h1>PeSeMu</h1>
	<h3>Registro de usuario</h3>
	<form action='usuarioNuevo' method='post'>
		<p>
			Nombre: <input type='text' name='nombre'>
		</p>
		<p>
			Apellidos: <input type='text' name='apellidos'>
		</p>
		<p>
			Correo electronico: <input type='text' name='correo'>
		</p>
		<p>
			Contraseña: <input type='text' name='contrasena'>
		</p>
		<input type='submit' value='Enviar'/>
		<input type='hidden' name='_csrf' value='{{token}}'/>
		
	</form>
	<br>
	<a href='index.html'>Cancelar</a>
</body>
</html>