<!DOCTYPE html>
<html>
<head>
<title>Ver producto</title>
  <style type="text/css">
  body {
    color: CadetBlue;
    background-image:url("fondo.jpg");
    background-size: cover; }
  </style>
</head>
<body>
	<h3>Producto</h3>
	<p>Nombre: {{producto.nombre}}</p>
	<p>Descripción: {{producto.descripcion}}</p>
	<p>Precio: {{producto.precio}}</p>
	<a href="{{producto.id}}/aniadirCarrito">Añadir a carrito</a>
	<p>Opiniones:</p>
	<ul>
		{{#producto.opiniones}}
		<li>{{.}}</li>
		{{/producto.opiniones}}
	</ul>
	<a href="{{producto.id}}/opinion">Dar una nueva opinión</a>
	<br>
	<a href="/catalogo/{{producto.tipo}}/{{producto.genero}}">Volver a
		la lista de productos</a>
</body>
</html>
